@{
    ViewBag.Title = "Home Page";
}

<div class="splash">
    <div class="information">
        <!--<img class = "logo" src = "onestopgaming_logo.png" alt = "One Stop Gaming"/>-->
        <h3>The one and only stop for all your gaming needs.</h3>
        <p>
            At one stop gaming we are looking to fulfill all of your needs as a gamer.
            Come inside for the best deals on consoles, games, and applications that you won't
            find anywhere else! Enter your zip code below to receive accurate prices!
        </p>

        <form action="zip.asp">
            <input type="text" name="zip" placeholder="Zip Code" class="textinput">
            <input type="submit" value="Submit">
        </form>
    </div>

    @Model.ProductViewModel.Name
    <div class="icons">
        <ul>
                @foreach (var categoryViewModel in Model.CategoryViewModelList)
                
                {
                    <li><img src="@categoryViewModel.IconURL" alt= @categoryViewModel.Name></li>
                }
        </ul>
    </div>

</div>

@Html.RenderPartial("_Product");


<div class="footer">
    &copy; 2015 Cody Davey and James Grams. All Rights Reserved. <br />
    Address: 255 Grapevine Road, Wenham, MA  01984.
</div>